{%extends 'all-news/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{article.article_image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{article.title}}</h1>
   </div>

   <div class="row">
     {% autoescape on %}   <!--used autoescape(a django template tag) because our post is saved as raw htm and this will allow us to ignore HTML tags and it is rendered as a text-->
     <p>{{article.post|safe}}</p>
     {% endautoescape %}
     </div>

   <div class="row">
     <p>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</p>
   </div>

 </div>

 {% endblock %}
 <!DOCTYPE html>

